[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "roundRobinR"]
	path = roundRobinR
	url = https://github.com/andrewpknight/roundrobinr
